.carouselContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: #0a2640;
  margin-bottom: 100px;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carouselContainer > label {
  /* width: 50%;
  height: 139px; */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
  display: flex;
  align-self: center;
  margin-top: 100px;
  color: #ffffff;
}

.carouselArrows {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  margin-top: 30px;
}

.arrIm {
  cursor: pointer;
}

.cardDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 20px;
  justify-content: center;
  margin-top: 80px;
}

.cardOne {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  width: 350px;
  height: 358px;
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.cardOne > label {
  width: 270px;
  height: 180px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.cardOneCol {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cardOneColRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardOneColRow > label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.cardOneColRow > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.cardTwo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  width: 350px;
  height: 394px;
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.cardTwo > label {
  width: 270px;
  height: 180px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.cardTwoCol {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cardTwoColRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardTwoColRow > label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.cardTwoColRow > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.cardThree {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 40px;
  width: 350px;
  height: 358px;
  background: #ffffff;
  box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.cardThree > label {
  width: 270px;
  height: 180px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.cardThreeCol {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cardThreeColRow {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.cardThreeColRow > label {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

.cardThreeColRow > p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #0a2640;
}

@media (max-width: 1080px) {
  .cardDiv {
    gap: 0px;
  }
}

@media (max-width: 1040px) {
  .cardDiv {
    gap: 15px;
  }

  .cardOne {
    padding: 40px;
    gap: 25px;
    width: 250px;
    height: 280px;
  }

  .cardOne > label {
    width: 210px;
    height: 100px;
    font-size: 18px;
    line-height: 26px;
  }

  .cardOneCol {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cardOneColRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardOneColRow > label {
    font-size: 12px;
    line-height: 22px;
  }

  .cardOneColRow > p {
    font-size: 8px;
    line-height: 22px;
  }

  .cardTwo {
    padding: 40px;
    gap: 25px;
    padding: 40px;
    width: 250px;
    height: 300px;
  }

  .cardTwo > label {
    width: 210px;
    height: 100px;
    font-size: 18px;
    line-height: 26px;
  }

  .cardTwoCol {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cardTwoColRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardTwoColRow > label {
    font-size: 12px;
    line-height: 22px;
  }

  .cardTwoColRow > p {
    font-size: 8px;
    line-height: 22px;
  }

  .cardThree {
    padding: 40px;
    gap: 25px;
    width: 250px;
    height: 280px;
  }

  .cardThree > label {
    width: 210px;
    height: 100px;
    font-size: 18px;
    line-height: 26px;
  }

  .cardThreeCol {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .cardThreeColRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardThreeColRow > label {
    font-size: 12px;
    line-height: 22px;
  }

  .cardThreeColRow > p {
    font-size: 8px;
    line-height: 22px;
  }
}

@media (max-width: 780px) {
  .cardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: center;
    margin-top: 80px;
  }

  .cardOne {
    padding: 40px;
    gap: 40px;
    width: 300px;
    height: 350px;
  }

  .cardOne > label {
    width: 250px;
    height: 180px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  .cardOneCol {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .cardOneColRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardOneColRow > label {
    font-size: 16px;
    line-height: 32px;
  }

  .cardOneColRow > p {
    font-size: 10px;
    line-height: 32px;
  }

  .cardTwo {
    padding: 40px;
    gap: 40px;
    width: 300px;
    height: 350px;
  }

  .cardTwo > label {
    width: 250px;
    height: 180px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  .cardTwoCol {
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  .cardTwoColRow {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .cardTwoColRow > label {
    font-size: 16px;
    line-height: 32px;
  }

  .cardTwoColRow > p {
    font-size: 10px;
    line-height: 32px;
  }

  .cardThree {
    padding: 40px;
    gap: 40px;
    width: 300px;
    height: 350px;
  }

  .cardThree > label {
    width: 250px;
    height: 180px;
    font-size: 24px;
    line-height: 36px;
  }

  .cardThreeCol {
    gap: 16px;
  }

  .cardThreeColRow {
    gap: 6px;
  }

  .cardThreeColRow > label {
    font-size: 16px;
    line-height: 32px;
  }

  .cardThreeColRow > p {
    font-size: 10px;
    line-height: 32px;
  }
}
