.navContainer {
  width: 90%;
  height: auto;
  /* background-color: transparent; */
  /* position: fixed; */
  z-index: 10;
}

.body {
  display: flex;
  flex: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.hamburgerDiv {
  display: flex;
  flex: row;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.hamburger {
  visibility: hidden;
}

.linksDiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
  /* justify-content: space-between; */
  width: 700px;
  align-items: center;
}

.linksDiv > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}

.linksDiv > button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 40px;
  border: 2px solid #0a2640;
  border-radius: 24px;
}

@media (max-width: 1000px) {
  .linksDiv {
    gap: 10px;
  }

  .linksDiv > ul {
    width: 400px;
    font-size: 14px;
  }
}

@media (max-width: 868px) {
  .linksDiv > button {
    width: 90px;
    height: 40px;

    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .linksDiv {
    gap: 10px;
  }

  .linksDiv > ul {
    width: 300px;
    font-size: 10px;
  }

  .linksDiv > button {
    width: 80px;
    height: 35px;

    font-size: 10px;
  }
}

@media (max-width: 600px) {
  .body {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
  }

  .hamburger {
    visibility: visible;
    right: 0%;
  }

  .linksDiv {
    flex-direction: column;
    gap: 50px;
    width: 140px;
    height: 280px;
    align-self: flex-end;
    background-color: #f1f1f1;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .linksDiv > ul {
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    height: 180px;
  }
}
