.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px;
  width: 60%;
  border-radius: 8px;
}

.container > label {
  width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  color: #000000;
}

.mainForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  box-shadow: -2.2px -4.48px 30px rgba(118, 131, 150, 0.1);
  margin-top: 20px;
  padding-top: 20px;
  border-radius: 8px;
  border: 2px solid #0a2640;
}
.mainFormBody {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: auto;
  /* box-shadow: -2.2px -4.48px 30px rgba(118, 131, 150, 0.1); */
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
}

.mainFormBody > h2 {
  width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.mainForm > h1 {
  width: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  margin-left: 20px;
  color: #65e4a3;
}

.lineDiv {
  width: 100%;
  height: 2px;
  background-color: #bfbfbf;
  margin-top: 20px;
}

.selectDiv {
  width: 100%;
  height: 40px;
  border: 2px solid #bfbfbf;
  margin-bottom: 30px;
}

.inputDiv {
  width: 100%;
}

.buttonDiv {
  width: 100%;
  margin-top: 30px;
}

.loader {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1rem solid lightgray;
  border-top: 1rem solid #65e4a3;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 900px) {
  .container {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .container {
    width: 85%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100%;
  }
}
